{% extends "base.html" %}

{% block title %} {{post.title}} - {{block.super}} {% endblock %}

{% block body %}

<div class="container">
<div class="card">
  <!-- <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <h4 class="card-title">{{post.title}}<small>   {{post.publishing_date}}</small></h4>
    <p class="card-text|">{{post.content|linebreaks}}</p>
    <!-- <a href = "{{post.get_absolute_url}}" class="btn btn-primary">Devamını Oku</a> -->
    <a href = "{{post.get_update_url}}" class="btn btn-default">Güncelle</a>
    <a href = "{{post.get_delete_url}}" class="btn btn-danger">Sil</a>
  </div>
</div>
</div>

{% endblock %}